{% extends "main-no-disqus.html" %}

{% block content %}
  {{ page.content }}
{% endblock %}

{% block footer %}
  <div id="disqus_thread" class="discuss-thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ config.site_url }}{{ page.abs_url }}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//structuredocumentation.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% include "footer.html" %}
{% endblock %}