/* ==========================================================================
  Menus
  ========================================================================== */

.hs-menu-flow-horizontal ul {
  list-style: none;
  display: inline-block;
}

.hs-menu-flow-horizontal ul li {
  float: left;
  display: inline-block;
  margin-right: 35px;
  font-size: 16px;
  font-weight: normal;
}

.hs-menu-flow-horizontal ul li:last-child {
  margin-right: 0;
}

.hs-menu-flow-horizontal a {
  font-family: "Alternate Gothic", "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  font-size: 16px;
  color: #f5f4f3;
}

.hs-menu-flow-horizontal a:hover,
.hs-menu-flow-horizontal a:focus {
  border-bottom: 2px solid #FF495C;
  color: #F5F4F3;
  text-decoration: none;
}

html {
  font-size: 90%;
}

body {
  font-family: "Fira Sans", "Lucida Grande", "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #111a2b;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Alternate Gothic", "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #284fff;
  padding-top: 70px;
  margin-top: -70px;
  font-weight: normal;
}

h1 {
    font-size: 250%;
}

h2 {
    color: #111a2b;
}

h3, h4 {
    text-transform: uppercase;
}

h4 {
    font-size: 100%;
    color: #111a2b;
}

.rst-content ul, .rst-content ol {font-size: 16px;}
.rst-content li {margin-bottom: 5px;}
.rst-content li li:first-child {margin-top: 5px;}

a {
  color: #ff495c;
}

a:hover {
  color: #284fff;
}

/*
 * Sphinx doesn't have support for section dividers like we do in
 * MkDocs, this styles the section titles in the nav
 *
 * https://github.com/mkdocs/mkdocs/issues/175
 */

.wy-breadcrumbs li {
  font-family: "Alternate Gothic", "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-weight:normal;
  font-size: 14px;
  letter-spacing: 1px;
}

.wy-breadcrumbs li a:visited {
  color: #a0a3aa;
}

.wy-menu-vertical span {
  line-height: 17px;
  padding: 5px 17px;
  display: block;
  position: relative;
  font-size: 17px;
  color: #f5f4f3;
  text-transform: uppercase;
  font-family: "Alternate Gothic", "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
}

.wy-menu-vertical li.on a,
.wy-menu-vertical li.current>a {
  background-color: #dcdcdc;
  border-bottom: none;
  padding: 5px 13px;
  padding-left: 13px;
}

.wy-menu-vertical li.current {
  margin-left: 17px;
}

.wy-menu-vertical li.current ul li a {
  background-color: #f4f4f4;
  color: #414855;
  border-right: none;
}

.wy-menu-vertical .subnav a {
  padding: 5px 30px;
  color: #a9b9ff;
}

.wy-menu-vertical .subnav a:hover {
  background-color: #111a2b;
}
/*
 * Long navigations run off the bottom of the screen as the nav
 * area doesn't scroll.
 *
 * https://github.com/mkdocs/mkdocs/pull/202
 */
.wy-nav-side {
  height: 100%;
  overflow-y: auto;
  background-color: #284fff;
}

/*
 * readthedocs theme hides nav items when the window height is
 * too small to contain them.
 *
 * https://github.com/mkdocs/mkdocs/issues/#348
 */
.wy-menu-vertical ul {
  margin-bottom: 2em;
}

.wy-side-nav-search {
  color: black;
  background-color: #111a2b;
}

.wy-side-nav-search>a,
.wy-side-nav-search .wy-dropdown>a {
  color: #ff495c;
  text-transform: uppercase;
  font-family: "Alternate Gothic", "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
}

.rst-versions {
  border-top: solid 10px #ff495c;
}

.rst-versions .rst-current-version {
  background-color: #111a2b;
}

/*
 * Fix wrapping in the code highlighting
 *
 * https://github.com/mkdocs/mkdocs/issues/233
 */
code {
    white-space: pre;
}

/*
 * Wrap inline code samples otherwise they shoot of the side and
 * can't be read at all.
 *
 * https://github.com/mkdocs/mkdocs/issues/313
 */
p code {
    word-wrap: break-word;
}

/*
 * The CSS classes from highlight.js seem to clash with the
 * ReadTheDocs theme causing some code to be incorrectly made
 * bold and italic.
 *
 * https://github.com/mkdocs/mkdocs/issues/411
 */
code.cs, code.c {
    font-weight: inherit;
    font-style: inherit;
}

/*
 * Fix some issues with the theme and non-highlighted code
 * samples. Without and highlighting styles attached the
 * formatting is broken.
 *
 * https://github.com/mkdocs/mkdocs/issues/319
 */
.no-highlight {
  display: block;
  padding: 0.5em;
  color: #333;
}

/*
 * Additions specific to the search functionality provided by MkDocs
 */

#mkdocs-search-results {
  margin-top: 23px;
  padding-top: 24px;
}

#mkdocs-search-results article h3 {
  margin-top: 23px;
  border-top: 1px solid #E1E4E5;
  padding-top: 24px;
}

#mkdocs-search-results article:first-child h3 {
  margin-top: 0px;
  padding-top: 0px;
  border-top: none;
}

#mkdocs-search-query{
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #D1D4D5;
}

.wy-menu-vertical li ul {
    display: inherit;
}

.wy-menu-vertical li ul.subnav ul.subnav{
    padding-left: 13px;
}


/*
 * Improve inline code blocks within admonitions.
 *
 * https://github.com/mkdocs/mkdocs/issues/656
 */
 div.admonition code {
  color: #404040;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.7);
}

nav.stickynav {
  top: 60px;
}

.wy-menu-vertical ul {
  margin-bottom: 90px;
}

.header {
  height: 60px;
  padding: 15px 0 0;
  background-color: #284fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 10000;
}

.header .nav-logo {
  padding: 0 30px;
}

.header .main-nav {
  padding: 15px 0 0;
  text-align: center;
}

.header.sticky {
  height: 60px;
  background-color: #284fff;
  padding: 5px 0 0;
}

.header.sticky img {
  height: 35px;
  margin-top: 7px;
  width: auto !important;
}

.body-container-wrapper.sticky {
  padding-top: 60px;
}

.wy-grid-for-nav {
  margin-top: 60px;
}

.discuss-thread {
  margin-top: 80px;
}

.rst-content img {
  border: 20px solid #f5f4f3;
}

.wy-side-nav-search input[type=text] {
  border-radius: 0;
  outline: none;
  border: none;
  border-color: transparent;
}

code {
  font-size: 85%;
}

.header .nav-expander {
    display: block;
    margin: 15px 35px 0;
    float: right;
}

.header .nav-expander i {
    font-size: 18px;
}

.btr {
    color: #f5f4f3;
}

.slim-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.slim-image-container img {
  width: 350px;
  margin: 0 auto;
}

.badge-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.badge-image-container img {
  width: 250px;
  margin: 0 auto;
  border-color: transparent;
}

@media (max-width: 992px) {
  .wy-nav-top {
    background-color: #111a2b;
  }

  section.shift .wy-nav-top {
    top: 60px;
  }

  .wy-nav-top a {
    color: #ff495c;
    margin-left: -30px;
  }

  .wy-nav-top i {
    margin-top: 10px;
    margin-left: 10px;
  }

  .header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 50px;
  }

  .header .nav-logo {
    padding: 0;
    margin-top: 3px;
    margin-left: 1.618em;
  }

  .header .nav-logo a img {
    height: 28px !important;
    max-width: none;
  }

  .header .main-nav {
    position: fixed;
    top: 50px;
    left: -295px;
    bottom: 0;
    width: 292px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: left .5s;
  }

  body.nav-open .header .main-nav {
    left: 0;
  }

  .header .main-nav .hs-menu-item {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dbd9d6;
  }

  .header .main-nav .hs-menu-item a {
    color: #284fff;
    margin: 0;
    padding: 10px 15px;
    display: block;
  }

  .header .main-nav a:hover {
    border: 0;
    background-color: #DBD9D6;
  }
}

@media (max-width: 1080px) {
  .hs-menu-flow-horizontal ul li {
    margin-right: 20px;
  }
}

strong em {
  color: #284fff;
}

pre {
  margin-bottom: 24px;
}

a.button {
  background: #FF495C;
  border: 1px solid #FF495C;
  padding: 0 20px;
  color: #F5F4F3;
  text-transform: uppercase;
  font-family: "Alternate Gothic", "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  height: 33px;
  font-weight: normal;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 2px;
}

a.button:hover {
  border: 1px solid #F5F4F3;
  text-decoration: none;

}

a.button:focus {
  outline: none;
  text-decoration: none;
}

a.button:active {
  color: #DBD9D6;
  outline: none;
}

a.login-button {
  background-color: #284FFF;
  border-color: #DBD9D6;
}

.header .nav-sign-up {
  text-align: right;
  margin-right: 20px;
  margin-top: 15px;
}

.header .nav-sign-up a:first-child {
  margin-left: 0;
}

.header .nav-sign-up a{
  font-size: 12px;
  height: auto;
  line-height: 1;
  padding: 5px 20px;
  margin-top: 15px;
  margin-left: 10px;
}

.rst-content .gist table.docutils:not(.field-list) tr:nth-child(2n-1) td,
.rst-content .gist table.docutils,
.rst-content .gist table.docutils td {
  background-color: white;
  border:none;
}
/* responsive embed */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin-bottom: 24px; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
